.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.frame{
  /* background: #61dafb; */
  height: 913px;
}
.link{
  text-decoration: none;
}
.link:hover{
  text-decoration:underline;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formLogin{
  margin: auto;
  margin-top: 120px;
  height: 540px;
  width: 600px;
  background: rgb(255, 255, 255);
}

.title{
  text-align: center;
}

label[for="userName"]{
  margin-top: 40px;
}

.userDiv{
  margin: 20px
}

.passwordDiv{
  margin: 20px;
}

input[type= email], input[type= password]{
  width: 540px;
  padding: 8px 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 4px rgb(182, 182, 182);
  box-sizing: border-box;
  
}

button{
  height: 40px;
  width: 160px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: rgb(65, 77, 236);
  color: white;

}

button[type=submit]{
  margin-top: -30px;
}

.forgotPassword{
  text-align: center;
}

.formRecover{
  margin: auto;
  margin-top: 120px;
  background: rgb(255, 255, 255);
  height: 700px;
  width: 700px;
}

.titleRecover{
  text-align: center;
}

.imageRecover{
  margin-top: 20px;
  height: 280px;
  width: 269px;
  margin-left: 23%;
}

label[for="textRecover"]{
  margin: 80px;
  margin-top: 50px;
}

.buttonRecover{
  margin-top: -55px;
  margin-left: 38%;
}

.footerLogin{
  margin-top: 250px;
}

.text-center{
  margin-top: 60px;
}
.imagen{
  width: 100px;
  height: 100px;
  display:block;
  margin:auto;
}

.letra{
  text-align: center;
  font-size:22px;
  color:white;
  background:blue !important;
}
.centrar{
  vertical-align: middle;
  text-align: center;
}